<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ADD PROFILE</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
   <h2>Edit you profile</h2>
   <form  method="post" action="/posts">
    <input  placeholder="Add username" name="username" type="text">
    <input  placeholder="Add new bio"  name="bio" type="text"><br><br>
    <button>Save changes</button>
   </form>
</body>
</html>